body{
  margin-top: 100px;
}

.wrapper {
  padding-left: 110px;
  padding-right: 110px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(200px, auto);
}

