{% load static %}


<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'construtores_style.css' %}">
 
  
    <div class="topnav">
        <a href="/brTalkingformula/" class="split">Talking <b><i>Formula 1</i></b></a>
        <a href="/brTalkingformula/pilotos">Pilotos</a>
        <a href="/brTalkingformula/construtores">Construtores</a>
        <a href="/brTalkingformula/corridas">Calendário</a>
        <a href="/brTalkingformula/noticias" >Notícias</a>
        <a href="/brTalkingformula/resultados">Resultados</a>
    </div>

    <head>
        <title>Talking Formula - {{circuito.nome}}</title>
    </head>

    <div class="wrapper">
    <div class="left">
    <h3>Nome: {{circuito.nome}}</h3>
    <h3>Fundado em: {{circuito.criadoem}}</h3>
    <h3>Comprimentos: {{circuito.comprimento}}</h3>
    <h3>Número de curvas: {{circuito.curvas}}</h3>
    </div>
    
    <div class="right">
        <picture>
            <img src={{circuito.foto}} alt={{circuitoROW.nome}}-{{circuitoROW.foto}} style="width:350px;">
        </picture>
    </div>
    </div>
</div>

    

</html>