{% load static %}


<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'details_style.css' %}">
 
  
    <div class="topnav">
        <a href="/brTalkingformula/" class="split">Talking <b><i>Formula 1</i></b></a>
        <a href="/brTalkingformula/pilotos">Pilotos</a>
        <a href="/brTalkingformula/construtores">Construtores</a>
        <a href="/brTalkingformula/corridas">Calendário</a>
        <a href="/brTalkingformula/noticias" >Notícias</a>
        <a href="/brTalkingformula/resultados">Resultados</a>
    </div>

    <head>
        <title>Talking Formula - {{corrida.nome}}, {{corrida.epoca_ano.ano}}</title>
    </head>
    

    <div class="wrapper">
        <div class="left">  
            <h1>{{corrida.nome}}, {{corrida.epoca_ano.ano}}</h1>
            <h4>Circuito: <a href="/brTalkingformula/circuitos/{{corrida.circuito_circuitoid.circuitoid}}/">{{corrida.circuito_circuitoid.nome}}</a></h4>
            <h4>Voltas: {{corrida.voltas}}</h4>
            <h4>Data: {{corrida.ocorreem}}</h4>
            <h4>Horas: {{corrida.horas}}</h4>
            <h4>Temperatura: {{corrida.temperatura}}</h4>

        </div>
        <div class="right">
            <br>
            <br>
            <br>
            <br>
            <h4>Temperatura Circuito: {{corrida.temperaturacircuito}}</h4>
            <h4>Precipitacao: {{corrida.precipitacao}}</h4>
            <h4>Humidade: {{corrida.humidade}}</h4>
            <h4>Exposição Solar: {{corrida.exposicaosolar}}</h4>
        
        </div>
      </div>

</div>
    {% if resultado.all %}

    <br>

    <body>
        <table>
            <thead>
            <tr>
                <th>POS</th>
                <th>Piloto</th>
                <th>Nacionalidade</th>
                <th>Volta rápida</th>
                <th>Pontos</th>
            </tr>
            <thead>
            <tbody>
                <div class="wrapper">
                    
                   
                    {% for resultadoROW in resultado %}
                    <tr>
                        <td> {{resultadoROW.posfinal.posfinal}}</td>
                        <td> {{resultadoROW.piloto_pilotoid.nome}}</td>
                        <td> {{resultadoROW.piloto_pilotoid.nacionalidade}}</td>
                        <td> {{resultadoROW.voltarapida}}</td>
                        <td> {{resultadoROW.posfinal.pontos}}</td>
                    </tr>
                    {% endfor %}
                   
    
                    
                </div>
            </tbody>
        </table>
  </body>
  {% else %}
        <p>Não há dados desta época</p>
  {% endif %}
</html>