{% load static %}
<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}" />
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'pilotos_style.css' %}"
  />

  <div class="topnav">
    <a href="/brTalkingformula/" class="split"
      >Talking <b><i>Formula 1</i></b></a
    >
    <a href="/brTalkingformula/pilotos">Pilotos</a>
    <a href="/brTalkingformula/construtores">Construtores</a>
    <a href="/brTalkingformula/corridas">Calendário</a>
    <a href="/brTalkingformula/noticias">Notícias</a>
    <a href="/brTalkingformula/resultados">Resultados</a>
  </div>

  <head>
    <title>Talking Formula - Noticias</title>
  </head>

  {% if noticias %} {% for noticiaROW in noticias %}
  <a id="logo" href="/brTalkingformula/noticias/{{noticiaROW.noticiaid}}">
    <div class="box">
      <picture>
        <img
          src="{{noticiaROW.foto}}"
          alt="{{noticiaROW.nome}}-{{noticiaROW.foto}}"
          style="width: 400px"
        />
      </picture>
      <br />
    <h1>{{noticiaROW.titulo}}</h1>
    </div>
  </a>
  <br>
  <br>
  {% endfor %} {% else %}
  <p>Não há noticias para mostrar.</p>
  {% endif %}
</html>
