{% load static %}


<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'construtores_style.css' %}">

    <div class="topnav">
        <a href="/brTalkingformula/" class="split">Talking <b><i>Formula 1</i></b></a>
        <a href="/brTalkingformula/pilotos">Pilotos</a>
        <a href="/brTalkingformula/construtores">Construtores</a>
        <a href="/brTalkingformula/corridas">Calendario</a>
        <a href="/brTalkingformula/noticias" >Notícias</a>
        <a href="/brTalkingformula/resultados">Resultados</a>
    </div>

    <head>
        <title>Talking Formula - {{piloto.nome}}</title>
    </head>

    <div class="wrapper">
        <div class="left">
          <h1>{{piloto.nome}}</h1>
          <h3>Nacionalidade: {{piloto.nacionalidade}}</h3>
          <h3>Nascimento: {{piloto.nascimento}}</h3>
        </div>
        <div class="right">
          <picture>
            <img
              src="{{piloto.foto}}"
              alt="{{piloto.nome}}-{{piloto.foto}}"
              style="height: 250px"
            />
          </picture>
        </div>
      </div>

</html>