{% load static %}


<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'XXX.css' %}">
    <div class="topnav">
        <a href="/brTalkingformula/" class="split">Talking <b><i>Formula 1</i></b></a>
        <a href="/brTalkingformula/pilotos">Pilotos</a>
        <a href="/brTalkingformula/construtores">Construtores</a>
        <a href="/brTalkingformula/corridas">Calendário</a>
        <a href="/brTalkingformula/noticias" >Notícias</a>
        <a href="/brTalkingformula/resultados">Resultados</a>
    </div>

    <head>
        <title>Talking Formula</title>
    </head>

    {% for construtor in construtores %}
    <div>
    <h3>construtorid: {{construtor.construtorid}}</h3>
    <h3>nome: {{construtor.nome}}</h3>
    <h3>nacionalidade: {{construtor.nacionalidade}}</h3>
    <h3>nascimento: {{construtor.nascimento}}</h3>
    {% endfor %}
    </div>  

    <div class="box">
        <picture>
            <img src={{construtor.foto}} alt={{construtorROW.nome}}-{{construtorROW.foto}} style="width:200px;">
        </picture>
    </div>
</html>
