{% load static %}


<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'details_style.css' %}">
    <div class="topnav">
        <a href="/brTalkingformula/" class="split">Talking <b><i>Formula 1</i></b></a>
        <a href="/brTalkingformula/pilotos">Pilotos</a>
        <a href="/brTalkingformula/construtores">Construtores</a>
        <a href="/brTalkingformula/corridas">Calendário</a>
        <a href="/brTalkingformula/noticias" >Notícias</a>
        <a href="/brTalkingformula/resultados">Resultados</a>
    </div>

    <head>
        <title>Talking Formula</title>
    </head>
    <h3>ronda: {{corrida.ronda}}</h3>
    <h3>nome: {{corrida.nome}}</h3>
    <h3>voltas: {{corrida.voltas}}</h3>
    <h3>ocorreEm: {{corrida.ocorreem}}</h3>
    <h3>horas: {{corrida.horas}}</h3>
    <h3>temperatura: {{corrida.temperatura}}</h3>
    <h3>temperaturacircuito: {{corrida.temperaturacircuito}}</h3>
    <h3>precipitacao: {{corrida.precipitacao}}</h3>
    <h3>humidade: {{corrida.humidade}}</h3>
    <h3>exposicaosolar: {{corrida.exposicaosolar}}</h3>
    <h3>epoca_ano: {{corrida.epoca_ano.ano}}</h3>
    <h3>circuito_circuitoid: {{corrida.circuito_circuitoid}}</h3>


</div>
    {% if resultado.all %}

    <br>
    
    <body>
        <table>
            <thead>
            <tr>
                <th>POS</th>
                <th>Piloto</th>
                <th>Nacionalidade</th>
                <th>Volta rápida</th>
                <th>Pontos</th>
            </tr>
            <thead>
            <tbody>
                <div class="wrapper">
                    
                   
                    {% for resultadoROW in resultado %}
                    <tr>
                        <td> {{ resultadoROW.posfinal.posfinal }}</td>
                        <td> {{resultadoROW.piloto_pilotoid.nome}}</td>
                        <td> {{resultadoROW.piloto_pilotoid.nacionalidade}}</td>
                        <td> {{resultadoROW.voltarapida}}</td>
                        <td> {{resultadoROW.posfinal.pontos}}</td>
                    </tr>
                    {% endfor %}
                   
    
                    
                </div>
            </tbody>
        </table>
  </body>
  {% else %}
        <p>Não há dados desta época</p>
  {% endif %}
</html>