{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'corridas_style.css' %}">
    <div class="topnav">
        <a href="/brTalkingformula/" class="split">Talking <b><i>Formula 1</i></b></a>
        <a href="/brTalkingformula/pilotos">Pilotos</a>
        <a href="/brTalkingformula/corridas" >Calendário</a>
        <a href="/brTalkingformula/resultados">Resultados</a>
    </div>

    <head>
        <title>Talking Formula</title>
    </head>

    <body>
        <table>
            <thead>
            <tr>
                <th>Data</th>
                <th>Corrida</th>
                <th>Vencedor</th>
            </tr>
            <thead>
            <tbody>
                <div class="wrapper">
                    {% if corridas %}
                   
                    {% for corridaROW in corridas %}
                    <tr>
                        <td>{{corridaROW.ocorreem}}</td>
                        <td>
                            <div class="gp">
                                <a id="logo" href="/brTalkingformula/corrida/{{corridaROW.ronda}}">{{ corridaROW.nome }}</a>
                            </div>
                        <div class="track"> <a href ='/brTalkingformula/circuitos/{{corridaROW.circuito_circuitoid.circuitoid}}/'>{{corridaROW.circuito_circuitoid.nome}}</a> </div>
                        </td>
                        <td> 
                            TBA
                        </td>
                    </tr>
                    {% endfor %}
                   
                    {% else %}
                        <p>No pilotos to show.</p>
                    {% endif %}
                </div>
            </tbody>
        </table>
        
    
    
  </body>




</html>