{% load static %}

<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}" />
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'index_style.css' %}"
  />


  <div class="topnav">
    <a href="/brTalkingformula/" class="split"
      >Talking <b><i>Formula 1</i></b></a
    >
    <a href="/brTalkingformula/pilotos">Pilotos</a>
    <a href="/brTalkingformula/construtores">Construtores</a>
    <a href="/brTalkingformula/corridas">Calendário</a>
    <a href="/brTalkingformula/noticias">Notícias</a>
    <a href="/brTalkingformula/resultados">Resultados</a>
  </div>

  <head>
    <title>Talking Formula - Home</title>
  </head>

  <br />
  <body>
    <div class="wrapper">
      <div class="top_block">
        {% if ultimo_resultado %}
        <div class="gp">
          <a
            id="logo"
            href="/brTalkingformula/corrida/{{ultima_corrida.ronda}}"
          >
            {{ultima_corrida.epoca_ano.ano}} {{ ultima_corrida.nome }}
          </a>
        </div>

        {% for resultadoPIL in ultimo_resultado %}
        <ol>
          <a
              id="logo"
              href="/brTalkingformula/pilotos/{{resultadoPIL.piloto_pilotoid.pilotoid}}"
            >
          <div class="pos{{resultadoPIL.posfinal.posfinal}}">
            
              {{resultadoPIL.posfinal.posfinal}}.
              {{resultadoPIL.piloto_pilotoid.nome}}
          </div>
          </a
            >

          {% endfor %} {% for resultadoPIL in ultimo_resultado %}
        </ol>
        {% endfor %} {% else %}
        <p>No Corrida to show.</p>
        {% endif %}
      </div>


      <div class="left_bblock">
        <a id="logo" href="/brTalkingformula/noticias/{{noticia.noticiaid}}">
        <h1>{{ noticia.titulo }}</h1>
        <small> {{noticia.criadoem}}</small>
        <br />
        <img src="{{ noticia.foto }}" alt="{{ noticia.titulo }}" />
        <p style="  max-width: 2000px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;">{{ noticia.corpo }}</p>
        </a>
      </div>

      <div class="right_sblock">
        <div class="gp", style="font-size: 24px; text-align: center;">
          
          <a
            id="logo"
            href="/brTalkingformula/resultados"
          >
          Standings Pilotos
          </a>
        </div>
        <table>
            <thead>
            <tr>
                <th>POS</th>
                <th>Piloto</th>
                <th>Pontos</th>
            </tr>
            <thead>
            <tbody>
                <div class="wrapper">
                    
                   
                    {% for standingROW in standings %}
                    <tr>
                        <td> {{ forloop.counter }}</td>
                        {% for item in standingROW %}
                            {% with counter=forloop.counter0 %}
                                {% if counter == 0 %}
                                    <td> <a id="logo" href="/brTalkingformula/pilotos/{{item.piloto_pilotoid.pilotoid}}">{{ item.piloto_pilotoid.nome }}</a></td>
                                {% elif counter == 1 %}
                                    <td class=>{{ item }}</td>
                                {% endif %}
                            {% endwith %}
                            {% endfor %}
                    </tr>
                    {% endfor %}
                   
                </div>
            </tbody>
        </table>

      </div>
    </div>
  </body>
</html>
