{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'index_style.css' %}">
    <div class="topnav">
        <a href="" class="split">Talking <b><i>Formula 1</i></b></a>
        <a>Pilotos</a>
        <a>Corridas</a>
    </div>

    <head>
        <title>Talking Formula</title>
    </head>

    <br>

    <div class="wrapper">
        <div class="top_block">LAST RESULTS</div>
        <div class="left_bblock">NEWS</div>
        <div class="right_sblock">
            Standings
            
        
        </div>
      </div>
</html>
