{% load static %}


<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index_style.css' %}">
    <div class="topnav">
        <a href="/brTalkingformula/" class="split">Talking <b><i>Formula 1</i></b></a>
        <a href="/brTalkingformula/pilotos">Pilotos</a>
        <a href="/brTalkingformula/corridas">Calendário</a>
        <a href="/brTalkingformula/noticias" >Notícias</a>
        <a href="/brTalkingformula/resultados">Resultados</a>
    </div>

    <head>
        <title>Talking Formula</title>
    </head>

    <br>

    <div class="wrapper">
        <div class="top_block">
            {% if ultimo_resultado %}
                <ul>
                {% for resultadoPIL in ultimo_resultado %}
                    <li>{{resultadoPIL.piloto_pilotoid.nome}} -> {{resultadoPIL.posfinal}}</li> 
                {% endfor %}
                </ul>
                
            {% else %}
                <p>No pilotos to show.</p>
            {% endif %}

        </div>
        <div class="left_bblock">
            <h3>{{ noticia.titulo }} </h3>
            <div class="portrait">
                <img src="{{ noticia.foto }}" alt="{{ noticia.titulo }}">
            </div>
            <p>{{ noticia.corpo }}</p>
        </div>
        <div class="right_sblock">
            
        </div>
      </div>
</html>
