{% load static %}


<!DOCTYPE html>
<html lang="pt">
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'noticia_style.css' %}">

    <div class="topnav">
        <a href="/brTalkingformula/" class="split">Talking <b><i>Formula 1</i></b></a>
        <a href="/brTalkingformula/pilotos">Pilotos</a>
        <a href="/brTalkingformula/construtores">Construtores</a>
        <a href="/brTalkingformula/corridas">Calendário</a>
        <a href="/brTalkingformula/noticias" >Notícias</a>
        <a href="/brTalkingformula/resultados">Resultados</a>
    </div>

    <head>
        <title>Talking Formula</title>
    </head>

  <body>

    <div class="wrapper">
    <h1>{{noticia.titulo}}</h1>
    <small>Publicado a: {{noticia.criadoem}}</small>
    <div class="corpo">{{noticia.corpo}}</div>


    <div>
        <picture>
            <img src={{noticia.foto}} alt={{noticiaoROW.nome}}-{{noticiaROW.foto}} style="width:auto;">
            <br>
            <label>Fotografia tirada após o final da corrida. ®</label>
        </picture>
        
    </div>

    <br>
    <h3>Comentários</h3>
{% for comment in comentarios %}
<div class="comentarios" style="padding: 10px;">
  <p class="bold">
    {{ comment.nome }}
    <div style="font-size: 12px;">{{ comment.criadoem }} </div> 
  </p>
  {{ comment.corpo | linebreaks }}
</div>
{% endfor %}


<div>
    {% if novo_comentario %}
    <div>
        Boas discussões!
    </div>
    {% else %}
    <h3>Participe na discussão:</h3>
    <form method="post" style="margin-top: 5px;">
      {{ comentario_form.as_p }}
      {% csrf_token %}
      <button type="submit">Comentar</button>
    </form>
    {% endif %}
  </div>

  </body>  
</div>
  <html>
