{% load static %}


<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'XXX.css' %}">
    <div class="topnav">
        <a href="/brTalkingformula/" class="split">Talking <b><i>Formula 1</i></b></a>
        <a href="/brTalkingformula/pilotos">Pilotos</a>
        <a href="/brTalkingformula/corridas">Calendario</a>
        <a href="/brTalkingformula/resultados">Resultados</a>
    </div>

    <head>
        <title>Talking Formula</title>
    </head>
    <h3>pilotoid: {{piloto.pilotoid}}</h3>
    <h3>nome: {{piloto.nome}}</h3>
    <h3>nacionalidade: {{piloto.nacionalidade}}</h3>
    <h3>nascimento: {{piloto.nascimento}}</h3>


</html>