{% load static %}


<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
    
    <div class="topnav">
        <a href="/brTalkingformula/" class="split">Talking <b><i>Formula 1</i></b></a>
        <a href="/brTalkingformula/pilotos">Pilotos</a>
        <a href="/brTalkingformula/corridas">Calendário</a>
        <a href="/brTalkingformula/noticias" >Notícias</a>
        <a href="/brTalkingformula/resultados">Resultados</a>
    </div>

    <table>
    {% for row in standings %}
        <tr>
        {% for item in row %}
            {% with counter=forloop.counter0 %}
            {% if counter == 0 %}
                <td class="first-column">{{ item.nome }}</td>
            {% elif counter == 1 %}
                <td class="second-column">{{ item }}</td>
            {% endif %}
            {% endwith %}
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
      
</html>