{% load static %}


<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'resultados_style.css' %}">

    <div class="topnav">
        <a href="/brTalkingformula/" class="split">Talking <b><i>Formula 1</i></b></a>
        <a href="/brTalkingformula/pilotos">Pilotos</a>
        <a href="/brTalkingformula/corridas">Calendário</a>
        <a href="/brTalkingformula/noticias" >Notícias</a>
        <a href="/brTalkingformula/resultados">Resultados</a>
    </div>
      
    <body>
        <table>
            <thead>
            <tr>
                <th>POS</th>
                <th>Piloto</th>
                <th>Nacionalidade</th>
                <th>Construtor</th>
                <th>Pontos</th>
            </tr>
            <thead>
            <tbody>
                <div class="wrapper">
                    {% if standings.any %}
                   
                    {% for standingROW in standings %}
                    <tr>
                        <td> {{ forloop.counter }}</td>
                        {% for item in standingROW %}
                            {% with counter=forloop.counter0 %}
                                {% if counter == 0 %}
                                    <td>{{ item.piloto_pilotoid.nome }}</td>
                                    <td>{{ item.piloto_pilotoid.nacionalidade }}</td> 
                                    <td>{{ item.equipa_equipaid.construtor_construtorid.nome }}</td>
                                {% elif counter == 1 %}
                                    <td class=>{{ item }}</td>
                                {% endif %}
                            {% endwith %}
                            {% endfor %}
                    </tr>
                    {% endfor %}
                   
                    {% else %}
                        <p>No pilotos to show.</p>
                    {% endif %}
                </div>
            </tbody>
        </table>
  </body>
</html>